*{
    margin: 0;
    padding: 0;
}
body{
  color: white;
  font-family: "Lexend Deca", sans-serif;
 font-weight: 200;
 font-size: 15px;
}
.parent{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    justify-content: space-between;
    
}
.cars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img{
    width: 50px;
    margin-bottom: 20px;
}
h2{
    color: white;
    font-family: "Big Shoulders Display", sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
}
p{
    margin-bottom: 20px;
}
a{  
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 20px;
}
a:hover{
    cursor: pointer;
}
.sedans a{
    color: #E28525;
}
.suvs a{
    color:#016972;
}
.luxury a{
    color:#00403F;
}
.sedCoat {
    background-color: #E28525;
    padding: 40px;
    border-radius: 5px 5px 0px 0px;
}
.suvCoat{
    background-color: #016972;
    padding: 40px;
}
.luxuryCoat{
    background-color: #00403F;
    padding: 40px;
    border-radius: 0px 0px 5px 5px ;
}
.sedans button{
    color: #E28525;
}
.suvs button{
    color: #016972;
}
.luxury button{
    color: #00403F;
}

@media screen and (min-width:1000px){
    .container{
        flex-direction: row;
        height: 60%;
    }
    .parent{ 
        height: 100vh;
        padding: 0px;
    }
  body{
    overflow: hidden;
  }
    .cars{
        height: 100%;
    }

    img, h1{
        margin-bottom: 0px;
    }
    .sedCoat{
        border-radius: 5px 0px 0px 5px;
    }
    .luxuryCoat{
        border-radius: 0px 5px 5px 0px;
    }
}